hostname = {{ ansible_nodename }}
python version = {{ ansible_python_version }}
kernel version ={{ ansible_kernel }}
primary ip address = {{ ansible_default_ipv4.address }}
primary mac address ={{ ansible_default_ipv4.macaddress }}
